services:
    app:
        build:
            context: ./app
            dockerfile: Dockerfile
        container_name: app
        env_file:
            - ./app/.env.development
        environment:
            - DOCKER_BUILDKIT=1
            - NODE_ENV=development
        networks:
            - database_network
            - mqtt_network

    mqtt:
        build:
            context: ./mqtt
            dockerfile: Dockerfile
        container_name: mqtt_server
        env_file:
            - ./mqtt/.env
        ports:
            - "1883:1883"
        volumes:
            - mqtt_data:/mqtt/data
            - mqtt_log:/mqtt/log
        networks:
            - mqtt_network
        restart: unless-stopped

    db:
        image: postgres:18.1
        container_name: database
        env_file:
            - ./database/.env
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data:rw
            - ./database/init:/docker-entrypoint-initdb.d:rw
        networks:
            - database_network
        restart: unless-stopped
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s

networks:
    mqtt_network:
    database_network:

volumes:
    mqtt_data:
    mqtt_log:
    pgdata:

