services:
    app:
        build:
            context: ./app
            dockerfile: Dockerfile
        container_name: app
        ports:
            - "9464:9464"
        env_file:
            - ./app/envs/.development.env
        environment:
            - DOCKER_BUILDKIT=1
        networks:
            - database_network
            - mqtt_network
            - metrics_network

    mqtt:
        build:
            context: ./mqtt
            dockerfile: Dockerfile
        container_name: mqtt_server
        env_file:
            - ./mqtt/.env
        ports:
            - "1883:1883"
        volumes:
            - mqtt_data:/mqtt/data
            - mqtt_log:/mqtt/log
        networks:
            - mqtt_network
        restart: unless-stopped

    db:
        image: postgres:18.1
        container_name: database
        env_file:
            - ./database/.env
        ports:
            - "5432:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data:rw
            - ./database/init:/docker-entrypoint-initdb.d:rw
        networks:
            - database_network
        restart: unless-stopped
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s

    prometheus:
        image: prom/prometheus:v3.8.1
        container_name: prometheus
        volumes:
            - ./prometheus:/etc/prometheus
        ports:
            - "9090:9090"
        networks:
            - metrics_network
        restart: unless-stopped

    grafana:
        image: grafana/grafana:main-ubuntu
        container_name: grafana
        ports:
            - "3000:3000"
        volumes:
            - grafana_data:/var/lib/grafana
            - ./grafana/provisioning:/etc/grafana/provisioning
            - ./grafana/dashboards:/var/lib/grafana/dashboards
        depends_on:
            - prometheus
        networks:
            - metrics_network
        restart: unless-stopped

networks:
    mqtt_network:
    database_network:
    metrics_network:

volumes:
    mqtt_data:
    mqtt_log:
    pgdata:
    grafana_data:

